* {
	margin: 0;
}

html, body {
	height: 100%;
}

.not_found_div {
	height: 100%;
}

.not_found {
	color: white;
	text-align: center;
	animation: nf 1s ease-out forwards;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	font-size: 50px;
	display: block;
	margin-top: 200px;
	font-family: monospace;
}

@keyframes nf {
	from {text-shadow: 0;}
	to {text-shadow: -5px 0 5px rgb(30,242,241), 5px 0 5px rgb(246,5,10);}
}

header {
	color: white;
	background-color: black;
	font-size: 20px;
	font-weight: bold;
	font-family: monospace;
	box-shadow: 0px 2px 10px 5px rgba(0,0,0,0.5);
}

header > nav {
	margin: 0 auto;
	min-width: 50%;
	text-align: center;
}

nav > a {
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px 25px;
	color: white;
	display: inline-block;
	outline: none;
}

nav > a:hover {
	/* background-color: #333; */
	color: rgba(246, 5, 10, 0.5);
	transition: color .25s;
	text-shadow: -3px 0 1px rgb(30,242,241), 3px 0 1px rgb(246,5,10);
	transition: text-shadow .5s;
}

footer {
	background-color: black;
	color: white;
	font-family: monospace;
	height: 60px;
}

footer > p {
	padding: 15px 0;
	margin: 0 auto;
	min-width: 50%;
	text-align: center;
}

.page-wrap {
	min-height: 100%;
	margin-bottom: -60px;
	background-image: url("../user_data/view/back.png");
	background-position: center center;
}

.page-wrap:after {
	height: 60px;
	content: "";
	display: block;
}

form.login, form.register {
	width: 100%;
	height: 100%;
	margin: 10px auto;
	/* border: 1px solid black; */
}

.form-wrap {
	width: 304px;
	margin: 100px auto;
	background-color: black;
	color: white;
	padding: 10px;
	box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.5);
	animation: fw .25s ease forwards;
}

@keyframes fw {
	from {
		margin-top: 200px;
	}
}

form.login > input, form.register > input {
	font-size: 25px;
	/* height: 30px; */
	width: 300px;
	padding: 0;
	margin: 0px auto 2px auto;
}

form.login > input[type="submit"], form.register > input[type="submit"] {
	margin: 1px auto;
	width: 304px;
}

.answer {
	font-size: 20px;
	color: white;
	background-color: #aa1111;
	text-align: center;
}

.gallery-wrapper {
	margin: 0 auto;
	animation: fw 1s ease forwards;
}

article.gallery-photo {
	display: inline-block;
	background: black;
	color: white;
	margin: 5px;
	vertical-align: top;
	box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.5);
	padding: 5px;
	animation: gpa .5s ease-in forwards;
}

@keyframes gpa {
	from {margin-top: 100px;}
	to {margin-top: 0px;}
}

article.gallery-photo > p {
	width: 200px;
	overflow: auto;
}

article.gallery-photo > p::-webkit-scrollbar {
	background-color: black;
}

article.gallery-photo > .thumbnail:hover {
	position: relative;
}

article.gallery-photo > .thumbnail:after {
	display: none;
}
article.gallery-photo > .thumbnail:hover:after {
	display: block;
	position: absolute;
	content: "+";
	font-size: 100px;
	text-weight: bold;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	animation: gp .5s ease-in forwards, gps .5s ease-in forwards;
	/* text-shadow: -3px 0 1px rgb(30,242,241), 3px 0 1px rgb(246,5,10); */
	/* transition: text-shadow 2s; */
}

@keyframes gp {
	from {opacity: 0;}
	to {opacity: 1;}
}
@keyframes gps {
	from {text-shadow: 0;}
	to {text-shadow: -3px 0 1px rgb(30,242,241), 3px 0 1px rgb(246,5,10);}
}

.thumbnail {
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
}

.thumbnail img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	transform: translate(-50%,-50%);
}

#side {
	height: 480px;
	/* width: 40%; */
	overflow-y: scroll;
	float: right;
}

.add-wrap {
	width: 855px;
	margin: 0 auto;	
}

.add-edit {
	float: left;
	width: 640px;
}

.perview-cover {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	z-index: 1;
	animation: gp .25s ease-in forwards;
}

.perview {
	display: block;
	position: fixed;
	width: 80%;
	min-height: 500px;
	height: 80%;
	background-color: rgba(0,0,0,1);
	box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.5);
	top: 10%;
	left: 10%;
	z-index: 2;
	animation: gpa .25s ease-out forwards;
}

.perview-photo {
	width: 60%;
	float: left;
    display: flex;
    align-items: center;
	height: 100%;
}
.perview-photo > img{
	width: 100%;
}

.perview-photo:hover {
	position: relative;
}

.perview-photo:after {
	display: block;
}
.perview-photo:hover:after {
	color: rgba(255,255,255,0.5);
	display: block;
	position: absolute;
	content: "\02665";
	font-size: 100px;
	text-weight: bold;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	animation: gp .5s ease-in forwards, gps .5s ease-in forwards;
}

.perview-comments {
	width: 40%;
	float: right;
	/* background-color: black; */
	background: linear-gradient(-90deg, #909, #000);
	height: 100%;
	color: white;
	overflow-y: auto;
	overflow-x: hide;
}

.perview-comments::-webkit-scrollbar {
	/* display: none; */
	width: 2px;
}

.comment {
	padding: 5px 10px;
	width: 90%;
	margin: 0 auto;
	animation: comm 2s ease-in forwards;
	font-family: monospace;
	overflow-wrap: break-word;
}

@keyframes comm {
	from {text-shadow: -3px 0 1px rgb(30,242,241), 3px 0 1px rgb(246,5,10);}
	to {text-shadow: 0;}
}

.perview-comments > input[type="text"] {
	margin: 10px auto;
	width: 90%;
	background: black;
	border-width: 0px;
	box-shadow: 0px 2px 9px 2px rgba(0,0,0,1);
	color: white;
	font-size: 15px;
	display: block;
}

.perview-comments > input:focus {
	outline: none;
}

.perview-comments > button {
	display: none;
}

body.noscroll {
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}
.perview-info {
	width: 100%;
}
.perview-info > #info {
	font-family: monospace;
	margin: 10px auto;
	width: 90%;
	display: block;
	text-align: center;
}

.perview-info > b {
	font-family: monospace;
	margin: 10px auto;
	width: 90%;
	border-bottom: 1px solid red;
	display: block;
	text-align: center;
}

.perview-settings {
	position: absolute;
	top: 3px;
	right: 3px;
	width: 14px;
	cursor: pointer;
}

.perview-settings-open {
	display: none;
	background-color: red;
	position: absolute;
	right: 3px;
	top: 30px;
	font-family: monospace;
	cursor: pointer;
}
.perview-settings-open:hover {
	text-decoration: underline;
}

#sup {
	width: 640px;
	height: 128px;
	overflow-x: auto;
}

.sticker {
	display: inline-block;
}

#div-canv {
	position: relative;
}
#div-canv > img{
	user-select: none;
}

.sticker-draw:hover {
	border: 1px solid red;
}
